/* 

Author Walter

*/

body {
		background-image: url('images/swirl.png');
	}

h1 {
	color:white;
	text-align:center;
	padding-bottom: 3px;
	padding-top:7px;
}
.box {
	max-width: 150px;
	margin:0 auto;
	background:grey;
	border-radius:5px;
}

/* navigation
-------------------
*/

nav ul {
	padding:0;

}

nav ul li {
	list-style: none;
	background: darkgrey;
	border-top: 1px 1px 1px 1px solid #fff;
	font-family: 'times new romam', 'hoefler text', serif;
	border-radius:5px;
	text-align:center
}

nav ul li:hover {
	background: black;

}

nav ul li a {
	text-decoration: none;
	color:white;
	padding: 1em 0;
	display:block;
	letter-spacing: 4px;
}

/* media queries 
-------------------
 */

@media screen and (min-width: 800px) {

	nav {

	}

	nav ul li {
		float:left;
		width:19.8%;
		border-right:1px solid #fff;
	}

	nav ul li:nth-child(1) {
		border-left: 1px solid #fff;
	}
}

/*-----------------------
Photos
*/

.align-center {
	margin: 0 auto;
 	display:block;
 	padding: 20px;
}


/* gallery 
--------------------------- */
.gallery {
	padding:0;
	color:black;
}

.gallery li {
	list-style:none;
	float:left;
	margin:0 .5em 0 0;

}

.gallery img {
	outline:2px solid gray;
}

.gallery img:hover {
	outline: 2px solid black;
}
.clearfix:after {
	content:".";
	display:block;
	height: 0;
	clear:both;
	visibility:hidden;
}

.gallery a {
	display:block;
}

.gallery img {
	display:block;
}
.gallery li div.item {
	position: relative;
	text-align: center;
	overflow:hidden;

}

.gallery li div.item span {
	position: absolute;
	background: rgba(250,250,250,0.7);
	padding: 1em 0;
	bottom:-50px;
	left:0;
	width:100%;
	transition: 1s all;
	color:navy;

}

.gallery li div.item:hover span {
	bottom:0;
}

.item {
	padding: 3px;
}



























